WCF Services/FetchDataWCFService/WebApplication1/Service References/FetchDataWCFService/DataOperationsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataOperationsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51064/DataOperationsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51064/DataOperationsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51064/DataOperationsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FetchDataWCFService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataOperationsService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IDataOperationsService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataOperationsService_updateInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:updateInfo" />
  </wsdl:message>
  <wsdl:message name="IDataOperationsService_updateInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IDataOperationsService_deleteRow_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteRow" />
  </wsdl:message>
  <wsdl:message name="IDataOperationsService_deleteRow_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteRowResponse" />
  </wsdl:message>
  <wsdl:message name="IDataOperationsService_insertRow_InputMessage">
    <wsdl:part name="parameters" element="tns:insertRow" />
  </wsdl:message>
  <wsdl:message name="IDataOperationsService_insertRow_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertRowResponse" />
  </wsdl:message>
  <wsdl:message name="IDataOperationsService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IDataOperationsService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataOperationsService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataOperationsService/GetData" message="tns:IDataOperationsService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataOperationsService/GetDataResponse" message="tns:IDataOperationsService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataOperationsService/updateInfo" message="tns:IDataOperationsService_updateInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataOperationsService/updateInfoResponse" message="tns:IDataOperationsService_updateInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteRow">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataOperationsService/deleteRow" message="tns:IDataOperationsService_deleteRow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataOperationsService/deleteRowResponse" message="tns:IDataOperationsService_deleteRow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertRow">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataOperationsService/insertRow" message="tns:IDataOperationsService_insertRow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataOperationsService/insertRowResponse" message="tns:IDataOperationsService_insertRow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataOperationsService/GetDataUsingDataContract" message="tns:IDataOperationsService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataOperationsService/GetDataUsingDataContractResponse" message="tns:IDataOperationsService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataOperationsService" type="tns:IDataOperationsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IDataOperationsService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateInfo">
      <soap:operation soapAction="http://tempuri.org/IDataOperationsService/updateInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRow">
      <soap:operation soapAction="http://tempuri.org/IDataOperationsService/deleteRow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertRow">
      <soap:operation soapAction="http://tempuri.org/IDataOperationsService/insertRow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IDataOperationsService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataOperationsService">
    <wsdl:port name="BasicHttpBinding_IDataOperationsService" binding="tns:BasicHttpBinding_IDataOperationsService">
      <soap:address location="http://localhost:51064/DataOperationsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>